body {
   display: flex;
   font-family: serif;
   font-size: 1em;
   justify-content: center;
}

h1, h2, h3, h4 {
   border-color: black;
   font-variant: small-caps;
   margin-top: 1em;
   margin-bottom: 0;
}

h1{
   border-style: none none double none;
   border-width: 0.25em;
   font-size: 3em;
   text-align: center;
}

h2 {
   border-style: none none solid none;
   border-width: 0.1em;
   font-size: 2em;
}

h3 {
   border-style: none none dashed none;
   border-width: 0.1em;
   font-size: 1.5em;
}

h4 {
   border-style: none none dotted none;
   border-width: 0.1em;
   font-size: 1.33em;
}

main {
   max-width: 600px;
}

p {
   font-family: sans-serif;
}

#the-realm {
   float: right;
   height: 131px;
   width: 300px;
}
